* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.leftcard {
    width: 35%;
    display: block;
}

.codepro {
    height: 30rem;
}

@media screen and (max-width : 900px) {
    .leftcard {
        display: none;
    }
}


.rightcard {

    height: 50%;
    width: 25%;

}

.program {
    height: 50%;
    width: 50%;
}

.heding {
    display: flex;
    justify-content: center;
}

.hedname {
    color: #472c7b;
    padding: 1.5rem;

}

.loginForm {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input1 {
    background-color: var(background-color);
    width: 90%;
    border: 1px solid black;
    border-radius: 25px;
    padding: 0.7rem 0.75rem;
}

.input2 {
    background-color: var(background-color);
    width: 90%;
    border: 1px solid black;
    border-radius: 25px;
    padding: 0.7rem 0.75rem;
}

.button {
    height: 2.5rem;
    width: 90%;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #5456ea;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.button:hover {
    background-color: #2b2ee0;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    padding-top: 2rem;
    font-size: 1rem;
    color: rgb(67, 64, 64);

}

.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.companyy{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 3rem;

}
.comimage{
    height: 2.4rem;

}
.foot{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  This is Following Registration CSS */


.main-container {
    background-color:#dbdbf5;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-container {
    padding: 1.5rem;
    background-color:white;
    border-radius: 20px;
    height: 90%;
    width: 50%;
}

.Hedingg {
    font-size: 1rem;
    font-weight: bold;
    color: #0f1175;
}

.Regi-form {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}


.inpuu {
    background-color: white;
    padding: 0.6rem 0.7rem;
    border: 1px solid black;
    border-radius: 3px;

}
.inpuu::placeholder{
    font-size: 0.9rem;
    color: #4f4f52;
}

.leftcon {
    width: 50%;



}

.row1 {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-top: 1rem;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.rightconn {
    width: 50%;


}

.row2 {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-top: 1rem;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
}


.genyy {
    padding-top: 1.2rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.gender {
    padding-left: 2rem;
}

.gender1 {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(38, 37, 37);
    display: flex;
    gap: 5px;
}


.gend {
    font-size: 1.3rem;
    font-weight: bold;
    color: #0f1175;
}

.regii-button {
    margin-top: 2rem;
    background: #232451;
    border: 1px solid black;
    border-radius: 3px;
    height: 2.7rem;
    padding-top: 10px;
    margin-left: 1.8rem;
    margin-right: 1.8rem;

}
.regii-button:hover{
    background-color: #111440;
}

.regi-button {
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.descrii {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.footer {
    font-size: 1rem;
    color: #060725;
}

.Ink {
    padding-left: 3px;
    text-decoration: none;
}